<div class="container px-8 pt-12">
  <div class="project">
    <h1 class="font-bold text-white text-4xl text-center">Random String
      Generator</h1>
    <p id="text-shower" class="text-3xl font-semibold mt-10 text-center">Click
      the button below to generate random string!</p>
    <div class="text-center mt-12">
      <button
        class="text-white rounded-md px-4 py-2 text-xl border border-white"
        id="generate-btn"
      >Generate</button>
    </div>
    <div>
      <div class="text-center mt-8 flex justify-center items-center flex-col">
        <div class="result-text font-bold text-4xl mb-4">Generated String:</div>
          <span class="result-shower"></span>
    </div>
  </div>
</div>