<div class="container px-8 pt-3">
  <div class="project pb-5">
    <h1 class="font-bold text-white text-3xl sm:text-4xl text-center">Random
      String Generator</h1>
    <p
      id="text-shower"
      class="text-2xl sm:text-3xl font-semibold mt-5 text-center"
    >Click the button below to generate random string!</p>
    <div
      class="mt-16 flex flex-col lg:flex-row items-center justify-center gap-20 lg:gap-32"
    >
      <div class="flex flex-col gap-6">
        <div class="length-specifier text-cyan-50 text-lg">
          <label for="string-length" class="mr-20">Length:</label>
          <input
            id="string-length"
            type="text"
            class="rounded-md h-9 outline-none p-1 text-black text-sm w-full sm:w-auto mt-3"
          />
        </div>
        <div class="string-num-specifier text-cyan-50 text-lg">
          <label for="string-numbers" class="mr-6">No. of strings:</label>
          <input
            type="text"
            id="string-numbers"
            class="rounded-md h-9 outline-none p-1 text-black text-sm w-full sm:w-auto mt-3"
          />
        </div>
      </div>
      <div
        class="character-set-specifier text-cyan-50 text-lg flex flex-col sm:flex-row gap-10 sm:gap-16 items-center"
      >

        <div class="flex flex-col gap-6">
          <div>
            <label for="uppercase"> Upper Case:</label>
            <input
              type="checkbox"
              class="ml-24 transform scale-150 check border-none outline-none"
              id="uppercase"
            /></div>

          <div>
            <label for="lowercase"> Lower Case:</label><input
              type="checkbox"
              class="ml-24 transform scale-150 check"
              id="lowercase"
            /></div>
        </div>

        <div class="flex flex-col gap-6">
          <div>
            <label for="numbers"> Numbers:</label><input
              type="checkbox"
              class="ml-28 transform scale-150 check"
              id="numbers"
            /></div>

          <div><label for="special-characters"> Special Characters:</label>
            <input
              type="checkbox"
              class="ml-8 transform scale-150 check"
              id="special-characters"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-14">
      <button
        class="text-white rounded-md px-4 py-2 text-xl border border-white"
        id="generate-btn"
      >Generate</button>
    </div>
    <div>
      <div class="text-center mt-8 flex justify-center items-center flex-col">
        <div class="result-text font-bold text-3xl sm:text-4xl mb-4">Generated
          Strings:</div>
        <ol
          class="result-shower text-white text-xl list-decimal list-inside"
        ></ol>
      </div>
    </div>
  </div>
</div>